<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{title}}</title>
        <meta name="description" content="{{description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- bower:css -->
        <!-- endbower -->
        <!-- endinject -->

        <!-- inject:css -->
        <!-- endinject -->
        <script>dataLayer = [];</script>
    </head>
    <body id="{{pageId}}">
        <div class="page-content">
            <header>
        		{{> header navigation slug=pageId}}
        	</header>
            {{> body }}
            {{> footer}}
            <!-- endinject --> 
            <!-- vendor:js -->
            <!-- endinject -->    
            <!-- inject:js -->
            <!-- endinject -->
        </div>
    </body>
</html>